// Elements //
$bootable-transition: 0.2s map.get($transition, 'fast-out-slow-in');
$blockquote-font-size: 18px;
$blockquote-font-weight: 300;
$code-kbd-border-radius: 3px;
$code-kbd-font-size: 85%;
$code-kbd-font-weight: normal;
$code-padding: 0.2em 0.4em;
$kbd-padding: 0.2em 0.4rem;
$input-top-spacing: 16px;
$text-field-active-label-height: 12px;
