// Grid //
$grid-breakpoints: () !default;
$grid-breakpoints: map.deep-merge((
	'xs': 0,
	'sm': 600px,
	'md': 960px,
	'lg': 1280px - 16px,
	'xl': 1920px - 16px
), $grid-breakpoints);
$grid-gutter: $spacer * 6 !default;
$form-grid-gutter: $spacer * 2 !default;
$grid-columns: 12 !default;
$container-padding-x: math.div($grid-gutter, 2) !default;
$grid-gutters: () !default;
$grid-gutters: map.deep-merge((
	'xs': math.div($grid-gutter,12),
	'sm': math.div($grid-gutter, 6),
	'md': math.div($grid-gutter, 3),
	'lg': $grid-gutter * math.div(2, 3),
	'xl': $grid-gutter
), $grid-gutters);
$container-max-widths: () !default;
$container-max-widths: map.deep-merge((
	'md': map.get($grid-breakpoints, 'md') * 0.9375,
	'lg': map.get($grid-breakpoints, 'lg') * 0.9375,
	'xl': map.get($grid-breakpoints, 'xl') * 0.9375
), $container-max-widths);
$display-breakpoints: () !default;
$display-breakpoints: map.deep-merge((
	'print-only': 'only print',
	'screen-only': 'only screen',
	'xs-only': 'only screen and (max-width: #{map.get($grid-breakpoints, "sm") - 1})',
	'sm-only': 'only screen and (min-width: #{map.get($grid-breakpoints, "sm")}) and (max-width: #{map.get($grid-breakpoints, "md") - 1})',
	'sm-and-down': 'only screen and (max-width: #{map.get($grid-breakpoints, "md") - 1})',
	'sm-and-up': 'only screen and (min-width: #{map.get($grid-breakpoints, "sm")})',
	'md-only': 'only screen and (min-width: #{map.get($grid-breakpoints, "md")}) and (max-width: #{map.get($grid-breakpoints, "lg") - 1})',
	'md-and-down': 'only screen and (max-width: #{map.get($grid-breakpoints, "lg") - 1})',
	'md-and-up': 'only screen and (min-width: #{map.get($grid-breakpoints, "md")})',
	'lg-only': 'only screen and (min-width: #{map.get($grid-breakpoints, "lg")}) and (max-width: #{map.get($grid-breakpoints, "xl") - 1})',
	'lg-and-down': 'only screen and (max-width: #{map.get($grid-breakpoints, "xl") - 1})',
	'lg-and-up': 'only screen and (min-width: #{map.get($grid-breakpoints, "lg")})',
	'xl-only': 'only screen and (min-width: #{map.get($grid-breakpoints, "xl")})'
), $display-breakpoints);
