{{> layout/header }}

<div class="app theme--light">
	<div class="container">
		<div class="row">
			<div class="col-12">
				{{> components/hello-world }}
			</div>

			<div class="col-12">
				{{#with htmlWebpackPlugin.options.data.pages.index }}
					{{#each blocks}}
						<div class="headline">{{@index}} блок</div>
					{{/each}}
				{{/with}}
			</div>

			<div class="col-12">
				<div class="headline">Статичная картинка</div>
				<img src="img/legacy-logo.png" alt="Логотип">
			</div>

			<div class="col-12">
				<div class="headline">Динамическая картинка</div>
				<img src="@/assets/img/legacy-logo.png" alt="Логотип">
			</div>

			<div class="col-12">
				<div class="headline">Динамическая картинка</div>
				<img src="@/assets/img/legacy-logo — копия.png" alt="Логотип">
			</div>

			<div class="col-12">
				<div class="headline">Динамическая картинка</div>
				<img src="img/legacy-logo1111.png" alt="Логотип">
			</div>

			<div class="col-12">
				<div class="headline">svg картинка</div>
				<svg class="svg">
					<use xlink:href="#download"></use>
				</svg>
				<svg class="svg">
					<use xlink:href="#close-menu"></use>
				</svg>
			</div>

			<div class="col-12">
				<div class="headline">mp4 видео</div>
				<video poster="@/assets/img/static.png" loop muted autoplay preload>
<!--					<source src="@/assets/video/product-video-1.ogv" type='video/ogg'>-->
					<source src="@/assets/video/product-video-1.mp4" type='video/mp4'>
<!--					<source src="@/assets/video/product-video-1.webm" type='video/webm'>-->
				</video>
			</div>
		</div>
	</div>
</div>

{{> layout/footer }}