$red: (
	'50': #ffeaeb,
	'100': #ffcccc,
	'200': #ffaaab,
	'300': #ff8789,
	'400': #ff6e6f,
	'500': #ff5456,
	'600': #ff4d4f,
	'700': #ff4345,
	'800': #ff3a3c,
	'900': #ff292b,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #ffd6d7,
	'a700': #ffbdbd
);

$orange: (
	'50': #fff6ea,
	'100': #ffe9cc,
	'200': #ffdbaa,
	'300': #ffcd87,
	'400': #ffc26e,
	'500': #ffb754,
	'600': #ffb04d,
	'700': #ffa743,
	'800': #ff9f3a,
	'900': #ff9029,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #ffe9d6,
	'a700': #ffdbbd
);

$yellow: (
	'50': #fffbec,
	'100': #fff5d0,
	'200': #ffeeb0,
	'300': #ffe790,
	'400': #ffe279,
	'500': #ffdd61,
	'600': #ffd959,
	'700': #ffd44f,
	'800': #ffcf45,
	'900': #ffc733,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #fff5de,
	'a700': #ffeec4
);

$green: (
	'50': #effff3,
	'100': #d7ffe2,
	'200': #bdffcf,
	'300': #a2ffbc,
	'400': #8effad,
	'500': #7aff9f,
	'600': #72ff97,
	'700': #67ff8d,
	'800': #5dff83,
	'900': #4aff72,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #f1fff4,
	'a700': #d7ffdf
);

$blue: (
	'50': #eff9ff,
	'100': #d7f0ff,
	'200': #bde6ff,
	'300': #a2dbff,
	'400': #8ed4ff,
	'500': #7accff,
	'600': #72c7ff,
	'700': #67c0ff,
	'800': #5db9ff,
	'900': #4aadff,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #f1f8ff,
	'a700': #d7ecff
);

$syan: (
	'50': #eceeff,
	'100': #d0d4ff,
	'200': #b0b7ff,
	'300': #909aff,
	'400': #7985ff,
	'500': #616fff,
	'600': #5967ff,
	'700': #4f5cff,
	'800': #4552ff,
	'900': #3340ff,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #dee0ff,
	'a700': #c4c8ff
);

$violet: (
	'50': #f3e9ff,
	'100': #e1c8ff,
	'200': #cda3ff,
	'300': #b87eff,
	'400': #a963ff,
	'500': #9a47ff,
	'600': #9240ff,
	'700': #8837ff,
	'800': #7e2fff,
	'900': #6c20ff,
	'a100': #ffffff,
	'a200': #ffffff,
	'a400': #decfff,
	'a700': #cdb6ff
);
